body{

  }.albererre-background{
    background-image: url(./background-image-albererre.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;

  }.albererre-background-grayscale{
  	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(./background-image-albererre.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
  }
