html {
    background: linear-gradient(141deg, #2cb5e8, #1fc8db, #03a9f4);
}

body {
  font-family: sans-serif;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  font-size: 18px;
}

.App {
  background: white;
  border-radius: 25px;
  padding: 2vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 0px 0px 40px -13px rgba(0,0,0,0.75);
}

.background-image {
  background-image: url("img/office-material.svg");
  background-repeat: no-repeat;
  display: flex;
  width: 300px;
  height: 300px;
  width: 40%;
  margin-left: 50px;
  margin-right: 50px;
}

.rigth-box {
  background: white;
  border-radius: 25px;
  height: 100%;
  width: 60%;
  padding-left: 2vw;
  padding-right: 2vw;
  color: black;
  font-size: 1.1em;
  box-shadow: 0px 0px 40px -13px rgba(0,0,0,0.75);
  margin-right: 60px;
  margin-top: 40px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.inner-input {
  border: 1px solid #cccccc;
  padding: 2vh;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  width: 65%;
  height: 100%;
}

.inner-button {
  border: 0px solid #cccccc;
  padding: 2vh;
  color: white;
  width: 35%;
  height: 100%;
  font-size: 15px;
  background: linear-gradient(141deg, #2cb5e8, #1fc8db, #0fb8ad);
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.input-button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
}

.etherscan {
  color: white;
  padding: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.menssage-header {
  margin-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
  color: white;
}

.message {
  font-size: 40px;
  background: white;
  border-radius: 25px;
  padding: 2vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 0px 0px 40px -13px rgba(0,0,0,0.75);
}

.notice-text {
  color: #bfbfbf;
  font-size: 12px;
  margin-top: 10px;

}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
